.Workshops{
    display: grid;
    grid-template-rows: repeat(4,1fr);
}

.Workshop__target{
    height: 28.4rem;
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    background-size: cover;
    color: var(--white)
}

.Workshop__tittle{
    font-size: 2rem;
    font-weight: 700;
}

.Workshop__description,
.Workshop__schedule{
    font-size: 1.6rem;
    margin-top: .8rem;
}

.Workshop__target button{
    margin: 0 auto;
    margin-top: auto;
    width: 21.4rem;
    height: 4rem;
    border-radius: 2rem;
    border: 1px solid var(--black);
    font-family: "Comic Neue", serif;
    font-size: 1.6rem;
}

.Workshop__target_one{
    background-image: url('../../../../public/images/activities/activities-club-infantil-mobile.jpg');
    background-position: center;
}

.Workshop__target_one button{
    background: var(--green-light-button);
}

.Workshop__target_two{
    background-image: url('../../../../public/images/activities/activities-club-ajedrez-mobile.jpg');
    background-position: center;
}

.Workshop__target_two button{
    background: var(--yellow-button);
}

.Workshop__target_three{
    background-image: url('../../../../public/images/activities/activities-pre-icfes-mobile.jpg');
    background-position: center;
}

.Workshop__target_three button{
    background: var(--light-blue-button);
}

.Workshop__target_four{
    background-image: url('../../../../public/images/activities/activities-english-club-mobile.jpg');
    background-position: center;
}

.Workshop__target_four button{
    background: var(--pink-button);
}

@media screen and (min-width: 568px){
    .Workshop__tittle{
        font-size: 2.4rem;
    }

    .Workshop__description,
    .Workshop__schedule{
        font-size: 2rem;
        width: 35rem;
    }

    .Workshop__target_one{
        background-image: url('../../../../public/images/activities/activities-club-infantil-cell.jpg');
    }

    .Workshop__target_two{
        background-image: url('../../../../public/images/activities/activities-club-ajedrez-cell.jpg');
    }

    .Workshop__target_three{
        background-image: url('../../../../public/images/activities/activities-pre-icfes-cell.jpg');
    }

    .Workshop__target_four{
        background-image: url('../../../../public/images/activities/activities-english-club-cell.jpg');
    }
}


@media screen and (min-width: 744px){
    .Workshops{
        grid-template: repeat(2,1fr)/repeat(2,1fr);
        height: 56.8rem;   
    }

    .Workshop__target_one{
        background-image: url('../../../../public/images/activities/activities-club-infantil-mobile.jpg');
    }

    .Workshop__target_two{
        background-image: url('../../../../public/images/activities/activities-club-ajedrez-mobile.jpg');
    }

    .Workshop__target_three{
        background-image: url('../../../../public/images/activities/activities-pre-icfes-mobile.jpg');
    }

    .Workshop__target_four{
        background-image: url('../../../../public/images/activities/activities-english-club-mobile.jpg');
    }
}

@media screen and (min-width: 1280px){
    .Workshops{
        height: 74.6rem;
    }

    .Workshop__target_one,
    .Workshop__target_two,
    .Workshop__target_three,
    .Workshop__target_four{
        height: 100%;
    }

    .Workshop__tittle{
        font-size: 2.8rem;
    }

    .Workshop__description,
    .Workshop__schedule{
        font-size: 2.4rem;
        width: 46.2rem;
    }

    .Workshop__description{
        width: 41.6rem;
    }

    .Workshop__target_one .Workshop__description:nth-child(2){
        width: 41.6rem;
    }

    .Workshop__target_two .Workshop__description:nth-child(2){
        width: 35.1rem;
    }

    .Workshop__target_three .Workshop__description:nth-child(2){
        width: 59.8rem;
    }

    .Workshop__target_four .Workshop__description:nth-child(2){
        width: 56.2rem;
    }
}

@media screen and (min-width: 1440px){
    .Workshops{
        height: 84rem;
    }

    .Workshop__target_one,
    .Workshop__target_two,
    .Workshop__target_three,
    .Workshop__target_four{
        padding: 3.2rem;
    }
}