.Cathalog__search_bar{
    width: 28.8rem;
    margin: 0 auto;
    height: auto;
    position: sticky;
    padding-top: 5.6rem;
}

.Cathalog__search_bar_container{
    height: 3.2rem;
    width: 28.8rem;
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
}

.Cathalog__search_bar_container input[type="text"]{
    border: 1px solid var(--line-fonts);
    background: var(--component-background);
    color: var(--line-fonts);
    width: 100%;
    height: 3.2rem;
    border-radius: 1.6rem;
    padding: 0 1.2rem;
    font-family: "Comic Neue", serif;
}

.Cathalog__search_bar_layout{
    height: 3.2rem;
    position: relative;
}

.Cathalog__search_bar_container input[type="text"]::placeholder{
    color: var(--line-fonts);
    font-family: "Comic Neue", serif;
}

.Cathalog__search_bar_container .Cathalog__search_bar_button{
    background: none;
    border: none;
    position: absolute;
    top: calc( 50% - 10px );
    right: 12px;
}

.Cathalog__filter_bar{
    border: 1px solid var(--line-fonts);
    background: var(--component-background);
    height: 3.2rem;
    border-radius: .6rem;
    display: block;
    margin-top: 1.6rem;
    padding: 0.8rem;
    overflow-y: hidden;
    transition: all 1s ease;
    width: 100%;
    position: absolute;
}

.Cathalog__filter_bar__extended{
    border: 1px solid var(--line-fonts);
    background: var(--component-background);
    height: 14.6rem;
    border-radius: .6rem;
    display: block;
    margin-top: 1.6rem;
    padding: 0.8rem;
    overflow-y: hidden;
    transition: all 1s ease;
    width: 100%;
    z-index: 2;
    position: absolute;
}

.Cathalog__filter_tittle{
    height: 14.7rem;
    margin: 0 auto;
    font-size: 1.6rem;
    display: flex;
    height: 1.8rem;
    align-items: center;
    justify-content: space-between;
    color: var(--line-fonts);
}

.Cathalog__grid_buttons{
    overflow-y: auto;
}

.Cathalog__filter_selector{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1.6rem;
    margin-top: 1.6rem;
}

.Cathalog__filter_selector p{
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--main-tittle);
}

.Cathalog__filter_selector input[type="radio"]{
    display: none;
    padding: .2rem;
}


.Cathalog__filter_selector .Cathalog__radio{
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: 1px solid var(--line-fonts);
    
}

.Cathalog__filter_selector input[type="radio"]:checked + .Cathalog__radio{
    border:1px solid var(--line-fonts);
    width: 1.2rem;
    height: 1.2rem;
    background: #b6b6b6;
}

.Cathalog__filter_results{
    display: grid;
    order: 3;
    width: 28.8rem;
    grid-template: repeat(2,1fr)/9.7rem 1fr;
    margin-top: 5.6rem;
    font-size: 1.4rem;
    color: var(--line-fonts);
}

.Cathalog__results__tittle{
    font-weight: 700;
    color: var(--main-tittle);
}

.Cathalog__results_output{
    color: var(--line-fonts);
}

@media screen and (min-width: 568px){
    .Cathalog__search_bar{
        width: 44.4rem;
        padding-top: 1.6rem;
        height: 10rem;
        display: grid;
        grid-template: 3.2rem 2.2rem 2.8rem/repeat(2,1fr);
        grid-template-areas: "searchbar searchbar"
                             "results results"
                             "filter options";
    }

    .Cathalog__search_bar_container{
        width: 100%;
        grid-area: searchbar;
    }

    .Cathalog__search_bar_layout{
        margin: 0 auto;
        width: 44.6rem;
    }

    .Cathalog__filter_tittle{
        font-size: 1.4rem;
    }

    .Cathalog__filter_bar{
        height: 2.8rem;
        width: 20.8rem;
        padding: .4rem .8rem;
        font-size: 1.4rem;
        margin-top: 0;
        position: absolute;
        grid-area: filter;
        top: 0;
    }

    .Cathalog__filter_bar__extended{
        width: 20.8rem;
        padding: .4rem .8rem;
        position: absolute;
        grid-area: filter;
        margin-top: 0;
        top: 0;
    }

    .Cathalog__filter_results{
        grid-template: 1fr/9.7rem 1fr 9.7rem 1fr;
        width: 100%;
        position: relative;
        margin-top: 1.6rem;
        align-items: center;
        grid-area: results;
    }
 
    .Cathalog__search_bar{
        width: 44.6rem;
    }

    .Cathalog__filter_results{
        margin-top: 0;
    }
}


@media screen and (min-width: 744px){
    .Cathalog__search_bar{
        width: 48rem;
        height: 15.4rem;
        padding-top: 1.6rem;
        display: grid;
        grid-template: 3.6em 4.6rem 3.6rem/repeat(2,1fr);
        grid-template-areas: "searchbar searchbar"
                             "results results"
                             "filter options";
        gap: .8rem;
    }

    .Cathalog__search_bar_container{
        width: 44.6rem;
        height: 3.6rem;
        grid-area: searchbar;
        margin: 0 auto;
    }
    
    .Cathalog__search_bar_layout{
        width: 44.6rem;
        height: 3.6rem;
    }

    .Cathalog__search_bar_container input[type="text"]{
        height: 3.6rem;
        margin: 0 auto;
        border-radius: 1.8rem;
    }

    .Cathalog__filter_results{
        display: grid;
        width: 28.8rem;
        grid-template: repeat(2,1fr)/10.6rem 1fr;
        margin-top: 5.6rem;
        font-size: 1.4rem;
        color: var(--line-fonts);
        margin-top: 0;
        font-size: 1.6rem;
        gap: .8rem;
        grid-area: results;
    }

    .Cathalog__filter_bar{
        width: 23rem;
        height: 3.6rem;
        align-self: center;
        justify-self: center;
        grid-area: filter;
    }

    .Cathalog__filter_bar__extended{
        width: 23rem;
        align-self: center;
        justify-self: center;
        position: absolute;
        top: 0;
    }

    .Cathalog__filter_tittle{
        font-size: 1.6rem;
        height: 2.6rem;
    }
}

@media screen and (min-width: 1133px){
    .Cathalog__search_bar{
        width: 85.2rem;
        height: 8rem;
        grid-template: repeat(2,1fr)/20.2rem 1fr 20.2rem;
        grid-template-areas:"filter searchbar options"
                            "results results results"; 
    }

    .Cathalog__filter_bar{
        width: 20rem;
        height: 3.6rem;
        z-index: 1;
    }

    .Cathalog__filter_bar__extended{
        width: 20rem;
        z-index: 1;
    }

    .Cathalog__filter_results{
        grid-template: 1fr/10.9rem 29.4rem 11.2rem 9.7rem;
        position: relative;
        align-items: center;
        grid-area: results;
    }
}


@media screen and (min-width: 1280px){
    .Cathalog__search_bar{
        margin-top: 11rem;
    }       
}