.Cathalog__filter_options{
    border: 1px solid var(--layout-border);
    background: var(--component-background);
    color: var(--line-fonts);
    height: 3.2rem;
    border-radius: .6rem;
    display: flex;
    font-size: 1.6rem;
    margin-top: 1.6rem;
    padding: 0.8rem;
    overflow-y: hidden;
    transition: all 1s ease-in-out;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    order: 4;
}

@media screen and (min-width: 568px){
    .Cathalog__filter_options{
        height: 3.6rem;
        width: 23rem;
        padding: .4rem .8rem;
        font-size: 1.4rem;
        position: relative;
        margin-top: 0;
        justify-self: center;
        align-self: center;
        grid-area: options;
    }
}

@media screen and (min-width: 1133px){
    .Cathalog__filter_options{
        display: none;
    }
}