@import "tailwindcss";

/* ahora sí el resto del CSS */
@property --tw-rotate-x {
  syntax: "*";
}

@theme{
  /*Tipografía*/
  --font-comic-neue: 'Comic Neue', cursive;
  
  /*Colores para el modo claro*/
  --color-white-font: #FBFBFB;
  --color-white:#fff;

  /*Variables para el degradado color claro*/
  --color-light-gray: #EFECEC;
  --color-medium-gray: #E4E3E4;
  /*bg-linear-to-r from-light-gray via-medium-gray to-light-gray*/

  /*Colores para los botones*/
  --color-green-light-button:#8FF313;
  --color-yellow-button: #FAFF0E;
  --color-light-blue-button: #00FFF5;
  --color-pink-button: #FF0ED3;

  --color-tittle-blue:#1813FF;
  --color-main-black: #000;

  /*Variables para el degradado color oscuro*/
  --color-light-blue: #191739;
  --color-medium-blue: #221D4F;

  /*Colores para el modo oscuro*/
  --color-blue-background: #130F58;
  --color-gray-line: #888888;

  /*variables para el tamaño de los títulos*/
  --text-font-little-p-12:12px;
  --text-font-little-p-14:14px;
  --text-font-p:16px;
  --text-font-h4-20:20px;
  --text-font-h3-24:24px;
  --text-font-h2-28:28px;
  --text-font-h1-32:32px;
  --text-font-big-tittle:36px;
  --text-font-big-40:40px;
  --text-font-big-52:52px;
  --text-font-big-64:64px;

  /*breakpoints para media queries: responsive design*/
  --breakpoint-*: initial;
  --breakpoint-cellphone:320px;
  --breakpoint-cellphone-hor: 599px;
  --breakpoint-tablet: 742px;
  --breakpoint-tablet-hor:1132px;
  --breakpoint-desktop-1280: 1279px;
  --breakpoint-desktop-1440: 1439px;
}

body{
   font-family: "Comic Neue", cursive; 
}



/*
Referencias para la tipografía Comic Neue:

.comic-neue-light {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;
}

.comic-neue-regular {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

.comic-neue-bold {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}

.comic-neue-light-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: italic;
}

.comic-neue-regular-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: italic;
}

.comic-neue-bold-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: italic;
}
*/